<!DOCTYPE html> 
<html> 
    <head> 
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css/"> 
        <title>Архив статей</title> 
    </head>
    <body class="archive">
        <div class="header">
            <img src="{{ STATIC_URL }}/static/img/logo.png" alt="логотип">
        </div>
        <div class="archive">
            {% for post in posts %}
            <div class="one-post">
                <a href="/article/{{post.id}}">{{ post.title }}</a>
            </div>
            {% endfor %}                
        </div>        
    </body>
</html>
